<!DOCTYPE html>
<html>
<title>
Paradise Fashion
</title>
<head>
<center>

	<style type="text/css">

	ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden; 	
	}

	a:link,a:visited{
	display:block;
	front-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:150px;
	text-align:center;
	padding:4px;
	text-transform:uppercase;
	text-decoration:none;
	}

	a:hover,a:active{
	background-color:#7A99A1;	
	}

	li{
	float:left;	
	}
	body{
	background-image: url('Paradise_Fashion.jpg');
	}

	</style>
<body> 
</p>
	<h1> ABOUT US </h1>
	<p> <font size='4' face='arial' color='blue'> 
	Discover </font> 
	<p>PARADISE FASHION is a new kind of shopping comparison site that offers the most comprehensive shopping experience on the web. Our shopping experts have drawn on their industry experience and insider connections to bring you the best collection of the stores you can't live without, and the brands and products you love - all in one place.</p>
	</p>

	<p> <font size='4' face='arial' color='blue'> 
	Compare </font>
	<p>Search for the products you love from the best stores on the web and see them side by side. Decide which price, shipping method, and delivery schedule options work best for you.</p>
	</p>

	<p> <font size='4' face='arial' color='blue'> 
	Learn </font></p>
	<p>But we don't stop there. Unlike other shopping comparison sites, we offer you a variety of tools and expert advice to help you make informed buying decisions and to find the best product to suit your needs.</p>
	</p>

	<p> <font size='4' face='arial' color='blue'> 
	Shop </font></p>
	<p>And when you're ready to buy, we give you options. You can use your secure PARADISE FASHION account to make purchases across hundreds of OneCart® Trusted Merchant Stores, all backed by PARADISE FASHION 100% satisfaction guarantee, or you can make your purchase directly from the web sites of one of hundreds of our Partner Stores.</p>
	</p>

	</ul>
</p>
	
</centre>	
</dir>	
</body>
</head>
</html>