<!DOCTYPE html>
<html>
<title>
Paradise Fashion
</title>
<body> 
<center>
<p>
	<br>
	<h1> Contact Us </h1>
	<p> <font size='10' face='arial' color='red'> 
	0431871915 </font>call now 
	<p> Email: Mansoor.hussain776@gmail.com </p>
	</p>

	<p> <font size='8' face='arial' color='blue'> 
	Address </font></p>
	<p> 46 Crimson Drive </p>
	<p> Doveton Vic 3177 </p>
	</br>
</p>	
	
</centre>		
</body>
</html>