<!DOCTYPE html>
<html>
<title>
Paradise Fashion
</title>
<head>
<center>

	<style type="text/css">

	ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden; 	
	}

	a:link,a:visited{
	display:block;
	front-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:150px;
	text-align:center;
	padding:4px;
	text-transform:uppercase;
	text-decoration:none;
	}

	a:hover,a:active{
	background-color:#7A99A1;	
	}

	li{
	float:left;	
	}
	body{
	background-image: url('Paradise_Fashion.jpg');
	}

	</style>
<body> 
</p>
	<h1> Contact Us </h1>
	<p> <font size='10' face='arial' color='red'> 
	0431871915 </font>call now 
	<p> Email: Mansoor.hussain776@gmail.com </p>
	</p>

	<p> <font size='8' face='arial' color='blue'> 
	Address </font></p>
	<p> 46 Crimson Drive </p>
	<p> Doveton Vic 3177 </p>

	</ul>
</p>	
	
</centre>	
</dir>	
</body>
</head>
</html>