<!DOCTYPE html>
<html>
<title>
Paradise Fashion
</title>
<head>
<center>

	<style type="text/css">

	ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden; 	
	}

	a:link,a:visited{
	display:block;
	front-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:150px;
	text-align:center;
	padding:4px;
	text-transform:uppercase;
	text-decoration:none;
	}

	a:hover,a:active{
	background-color:#7A99A1;	
	}

	li{
	float:left;	
	}
	body{
	background-image: url('Paradise_Fashion.jpg');
	}

	</style>
<body>

<img src='images/Paradise_Fashion.jpg'>

</centre>	
</dir>	
</body>
</head>
</html>
