<!DOCTYPE html>
<html>
<title>
Paradise Fashion
</title>
<body> 
<center>

<p>
	<br> 
	<h1> Opening Hours </h1> 
	<p> Monday       9am - 5:30pm </p>
	<p> Tuesday      9am - 5:30pm </p>
	<p> Wednesday    9am - 5:30pm </p>
	<p> Thursday     9am - 9pm </p>
	<p> Friday       9am - 9pm </p>
	<p> Saturday     9am - 5pm </p>
	<p> Sunday       10am - 5pm </p>
	</br>
</p>

</centre>		
</body>
</html>
